body{
  margin: 0;
  padding: 0;
}
.loginContainer{
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer .button{
  background: #3b5998;
  padding: 10px 15px;
  color: #fff;
  letter-spacing: 1px;
}
.loginContainer .button:hover{
  cursor: pointer;
}
